#h2Award {
    width : 100vw;
    display : flex;
    justify-content: center;
    align-items: center;
}

#pAward {
    width : 100vw;
    display : flex;
    justify-content: center;
    align-items: center;
}