h1{
    width : 100vw;
    display : flex;
    justify-content: center;
    align-items: center;

}

.form{
    width : 100vw;
    display : flex;
    justify-content: center;
    align-items: center;
}

input{
    width : 100vw;

    justify-content: center;
    align-items: center;
}



p{
    width : 100vw;
    display : flex;
    justify-content: center;
    align-items: center;
}

.padding1{
    display: flex;
      flex-wrap: wrap;
      padding-top: 15px;
      padding-left: 46vw;
}