.points{
    display: flex;
    padding: 20px 0;

    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}


td{

    background-color: rgb(248, 248, 248);

    padding: 20px 0;

}


th{
    background-color:rgb(122, 115, 115)

}

.form{
    display: flex;
    padding: 20px 0;

    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 20px;
}