.card{
    background-color: rgb(233, 233, 233);
    border-radius: 100px;
    border-style:groove;
    padding: 10px 10px 10px;
    margin-top:100px;
    text-align-last: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

img{ 
    display: flex;
    flex-wrap: wrap;
    border : 3px solid rgb(0, 0, 0);
    border-radius: 2px;
    height: 250px;
    width: 180  px;   
    border-style:inset; 
}

.pencilpadding{
    display: flex;
    flex-wrap: wrap;
    padding-left: 150px;
    padding-top: 50px;
}

.pencilcard{
    display: flex;
    flex-wrap: wrap;
    padding-left: 145px;
    margin-top:1px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif   
}   

.snackpadding{
    display: flex;
    flex-wrap: wrap;
    padding-left: 100px;
    padding-top: 1px;
}

.snackcard{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    padding-left: 60px;
    margin-top:1px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif   
}   

.bouncypadding{
    display: flex;
    flex-wrap: wrap;
    padding-left: 95px;
    padding-top: 1px;
}

.bouncycard{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    padding-left: 60px;
    margin-top:1px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif   
}   

.boxpadding{
    display: flex;
    flex-wrap: wrap;
    padding-left: 95px;
    padding-top: 1px;
}

.boxcard{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    padding-left: 67px;
    margin-top:1px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif   
}   

button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  
  }
  
  button:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
.buttonpadding{
  display: flex;
    flex-wrap: wrap;
    padding-left: 167px;
    padding-top: 1px;
}

.buttonpadding2{
    display: flex;  
      flex-wrap: wrap;
      padding-left: 125px;
      padding-top: 1px;
  }

  .buttonpadding3{
    display: flex;
      flex-wrap: wrap;
      padding-left: 165px;
      padding-top: 1px;
  }

  .buttonpadding4{
    display: flex;
      flex-wrap: wrap;
      padding-left: 233px;
      padding-top: 1px;
  }